.main-game{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
}
.field{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    aspect-ratio: 1/.5;
    max-height: 300px;
    background-color: #f5deb3;
    border-radius: 1rem;
    color: #8b4513;
    margin: 1rem auto;
}
.pitch{
    width: 40%;
    height: 80%;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5rem solid #8b4513;
    border-radius: 1rem;
    text-align: center;
}
.crease{
    width: 1rem;
    height: 100%;
    background-color: #8b4513;
}

.score span{
    display: inline-block;
    padding: .5rem;
    border: .5rem solid;
    min-width: 5rem;
    border-radius: 1rem;
    text-align: center;
}
.btn-container{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
}
.reset-btn{
    margin: 1rem;
    color:#8b4513;
}
