@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html{
  width: 100%;
  height: 100%;
  font-family: 'Courier Prime', serif;
  font-size: 2vw;
  color: #333333;
  background-color: #E0E0E0;
}
h1,h2{
  margin: 5rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
h1{
  font-size: 4rem;
}
#register{
  width: 40rem;
  margin: 4rem auto;
}
#input-container{
  width: 50%;
  padding: .5rem;
  background-image: linear-gradient(180deg,#D3D3D3, 5%,#7B7B7B,93%,#333333);
  border-radius: .5rem;
  margin: 0 auto;
}
#input-container input{
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  border: none;
}
input:focus{
    outline: none;
}
#rod{
  width: 10%;
  background-image: linear-gradient(to right,#333333, 2%,#7B7B7B,96%,#333333);
  padding: 1rem;
  margin: 0 auto;
}
#upper-part{
  width: 100%;
  background-image: linear-gradient(180deg,#D3D3D3, 5%,#7B7B7B,94%,#333333);
  padding: 1rem;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  display: flex;
  justify-content: space-between;
}
#col-1, #col-2{
    width: 45%;
}
.label{
    background-color: #333333;
    color: #fff;
    height: 100%;
    width: 60%;
    text-align: right;
}
.label + input{
  width: 40%;
  border: none;
  height: 100%;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.5rem;
}
#change-due{
  padding: 0 1rem 0 .5rem;
}
#cash-in-drawer label{
  display: inline-block;
  width: 60%;
  text-align: right;
  background-color: #333333;
  color: #fff;
  margin-top: .05rem;
  font-weight: 400;
}
#cash-in-drawer input{
  width: 40%;
  border: 0.1rem solid #333333;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  font-family: inherit;
  
}
.label, .label ~ span{
    /* padding: 0 1.2rem; */
    display: inline-block;
}
#status{
  overflow: hidden;
  width: 40%;
  text-align: center;
  float: right;
}
#cash-in-drawer-div .label, #change-due-div .label{
    width: 100%;
    height: auto;
    text-align: center;
}
#price-div{
  width: 100%;
  height: 1.5rem;
  background-color: #fff;
  margin-right: 10%;
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 9% 100%)
}
#status-div{
  width: 100%;
  height: 1.5rem;
  background-color: #fff;
  margin: 0.5rem 0;
  margin-right: 10%;
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 8% 100%)
}
#cash-in-drawer-div{
  width: 100%;
  display: inline-block;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%)
}
#change-due-div{
  width: 100%;
  height: 12rem;
  display: inline-block;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  overflow: auto;
  clip-path: polygon(0% 0%, 90% 0%, 95% 100%, 0% 100%)
}
#key-gp{
  width: 100%;
  padding: .5rem;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: .3rem;
  clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 0% 100%);
}
#key-gp span{
  display: inline-block;
  background-color: #333333;
  border-radius: .5rem;
  color: #7B7B7B;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5rem .9rem;
  border: .1rem outset #333333
}
#key-gp button{
  flex-grow: 1;
  background-color: #333333;
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  border: .1rem outset #333333
}
#lower-part{
  width: 100%;
  padding: 2rem;
  background-image: linear-gradient(180deg,#333333,1%,#7B7B7B,98%,#333333);
  margin-top: 1rem;

}
#knob{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #333333;
  margin: 0 auto;
  border: .2rem ridge #333333;
}
@media only screen and (min-width: 700px){
  html{
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1000px){
  html{
    font-size: 1vw;
  }
}
@media only screen and (min-width: 1400px){
  html{
    font-size: .7vw;
  }
}